---
import BaseLayout from "../../layouts/BaseLayout.astro";
import everythingApp from "../../images/everythingAppEn.svg";

const title = "UDIA";
---

<BaseLayout title={title}>
  <img draggable="false" src={everythingApp} alt="Everything App" />

  <ul>
    <!-- TODO, fix this, use counter, make more interesting -->
    <li id="getItListItem">
      <input id="getIt" type="checkbox" checked={false} />
      <label for="getIt">Do you get it?</label>
    </li>
    <!-- TODO: gotta update locale redirect to support nesting -->
    <li id="outputListItem"></li>
    <li><a href="/now">Now</a></li>
    <li><a href="/cost">Cost of existence</a></li>
    <li><a href="/analytics">Proof of existence</a></li>
    <li><a href="/deployments">Deployments (historical)</a></li>
    <li>
      <input type="checkbox" checked={true} disabled={true} />
      <a href="https://github.com/udiaca/u0.vc/issues/new/choose"
        >TODO: Haven't built this out yet</a
      ><code></code>
    </li>
  </ul>

  <script>
    let checkbox = document.getElementById("getIt") as HTMLInputElement;
    let output = document.getElementById("outputListItem") as HTMLElement;

    const sideEffectWrapper = (notCheckedContent = "...") => {
      const sideEffect = () => {
        while (output.firstChild) {
          output.removeChild(output.firstChild);
        }
        if (checkbox.checked) {
          const anchor = document.createElement("a");
          anchor.setAttribute("href", "/story/imagine");
          anchor.textContent = "Try Story Mode";
          output.appendChild(anchor);
        } else {
          output.textContent = notCheckedContent;
        }
      };
      return sideEffect;
    };

    checkbox.addEventListener("change", sideEffectWrapper());
    sideEffectWrapper("")();
  </script>
</BaseLayout>
