---
import BaseLayout from "../../layouts/BaseLayout.astro";
import everythingApp from "../../images/everythingAppEn.svg";
import Auth from "../../components/Auth.svelte";
import Tooltip from "../../components/Tooltip.astro";

const title = "UDIA";

let randomString = ''
try {
  randomString = crypto.randomUUID()
} catch (err) {}

const allPosts = await Astro.glob('./**/*.md');

// sort by most recently published
const sortedAllPosts = allPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.publishedAt)
  const bDate = new Date(b.frontmatter.publishedAt)
  return aDate.valueOf() - bDate.valueOf()
})
.reverse();

const mostRecentPost = sortedAllPosts[0]
---

<BaseLayout title={title}>
  <iframe src={mostRecentPost?.url} title="description"></iframe>

  <hr id="clean-slate" />

  <img id="everything-app" draggable="false" src={everythingApp} alt="Everything App" />

  <ul>
    <!-- TODO, fix this, use counter, make more interesting -->
    <li id="getItListItem">
      <input id="getIt" type="checkbox" checked={false} />
      <label for="getIt">Do you get it?</label>
    </li>
    <!-- TODO: gotta update locale redirect to support nesting -->
    <li id="outputListItem"></li>
    <li><a href="/now">Now</a></li>
    <li><a href="/cost">Cost of existence</a></li>
    <li><a href="/analytics">Proof of existence</a></li>
    <li><a href="/deployments">Deployments (historical)</a></li>
    <li><a href="/all_users">All Users (<Tooltip text={"warning, slow"} tooltipText={"https://discord.com/channels/595317990191398933/779390076219686943/1038014526131548161"} />)</a></li>
    <li><Auth randomStringFromServer={randomString} client:load /></li>
    <li><Tooltip text="Alerts" tooltipText="&#x2B21;" />(<a href="/en/alerts">Marketing</a>)</li>
    <li><a href="/all">ALL</a></li>
    <li>
      <input type="checkbox" checked={true} disabled={true} />
      <a href="https://github.com/udiaca/u0.vc/issues/new/choose"
        >TODO: Haven't built this out yet</a
      ><code></code>
    </li>
  </ul>

  <script>
    let checkbox = document.getElementById("getIt") as HTMLInputElement;
    let output = document.getElementById("outputListItem") as HTMLElement;

    const sideEffectWrapper = (notCheckedContent = "...") => {
      const sideEffect = () => {
        while (output.firstChild) {
          output.removeChild(output.firstChild);
        }
        if (checkbox.checked) {
          const anchor = document.createElement("a");
          anchor.setAttribute("href", "/story/imagine");
          anchor.textContent = "Try Story Mode";
          output.appendChild(anchor);
        } else {
          output.textContent = notCheckedContent;
        }
      };
      return sideEffect;
    };

    checkbox.addEventListener("change", sideEffectWrapper());
    sideEffectWrapper("")();
  </script>

  <style>
    ul {
      list-style-type: none;
      line-height: 1.5em;
      text-align: center;
      padding: 0;
    }
    img#everything-app {
      padding-top: 1rem;
    }
    iframe {
      width: 99vw;
      height: 80vh;
      border: 0;
    }

    hr#clean-slate {
      width: 100vw;
      color: var(--emph-color);
    }
  </style>
</BaseLayout>
