---
/**
 * Logic for [...path] and [path] are identical.
 * 1. Try adding in the language tag to path
 * 2. Attempt to fetch the file from our public Cloudflare R2 bucket
 * 3. Return 404.
 *
 * If any step fails with an exception, return 500.
 */
import { bestMatch } from "@udia/mime-parser";
import { languageTags } from "../i18n/languages";
import BaseLayout from "../layouts/BaseLayout.astro";

const acceptLanguage = Astro.request.headers.get("accept-language");
let language = "en";
if (acceptLanguage) {
  language = bestMatch(languageTags, acceptLanguage) || "en";
}

const { path } = Astro.params;
console.log(`==== ${path}`)

const langPath = `/${language}/${path}`;
const pages = await Astro.glob("./**/*");
const urls = pages.map((page) => page.url);
let redirectTo = null;
if (urls.includes(langPath)) {
  redirectTo = langPath;
}

const status = Astro.response.status;
Astro.response.status = status && status !== 200 ? status : 404;
const statusText =
  Astro.response.statusText && Astro.response.statusText !== "OK"
    ? Astro.response.statusText
    : status === 404
    ? "Not Found"
    : "Error";
Astro.response.statusText = statusText;

const pageStatusText = `[...path].astro ${statusText}`
---

{
  redirectTo ? (
    <meta http-equiv="refresh" content={`0;url=${redirectTo}${Astro.url.search}`} />
  ) : null
}
<BaseLayout title={pageStatusText}>
  <h1>{pageStatusText}</h1>
  <code><pre>{JSON.stringify(Astro.response, undefined, 2)}</pre></code>
</BaseLayout>
