---
import Tooltip from '../components/Tooltip.astro'
import { getRelativeTimeString } from '../utils/getRelativeTimeString'
import { parseLocalesFromAcceptLanguage } from '../utils/parseLocalesFromAcceptLanguage'
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
const { title } = Astro.props.frontmatter || Astro.props

const { publishedAt, updatedAt } = frontmatter

const publishedAtDate = new Date(publishedAt)
const updatedAtDate = new Date(updatedAt)

const now = Date.now()

const publishedAtDeltaMSec = publishedAtDate.getTime() - now
const updatedAtDeltaMSec = updatedAtDate.getTime() - now

const locales = parseLocalesFromAcceptLanguage(
  Astro.request.headers.get('accept-language') || ''
)

const publishedAtDelta = getRelativeTimeString(publishedAtDeltaMSec, locales)
const updatedAtDelta = getRelativeTimeString(updatedAtDeltaMSec, locales)

const allPosts = await Astro.glob('../pages/**/*.md');

allPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.publishedAt)
  const bDate = new Date(b.frontmatter.publishedAt)
  return aDate.valueOf() - bDate.valueOf()
})
.reverse();

// get the current post within all posts
const curIdx = allPosts.findIndex((allPost) => allPost.url === Astro.props.url)
const prevIdx = curIdx - 1
const nextIdx = curIdx + 1

const curMd = allPosts[curIdx]
const prevMd = allPosts[prevIdx]
const nextMd = allPosts[nextIdx]
---

<BaseLayout title={title}>
  <Fragment slot="head">
    <meta name="source-type" content="markdown" />
  </Fragment>

  <code><pre>index {curIdx} of a journey (length {allPosts.length})</pre></code>

  <a href={prevMd?.url || "/"}>index {prevIdx}</a>
  {curMd?.url === Astro.url.pathname ? <span>{curMd?.frontmatter.title}</span> : <a href={curMd?.url}>{curMd?.frontmatter.title}</a>}
  <a href={nextMd?.url}>index {nextIdx}</a>

  <div id="markdown-wrapper">
    <h1 id="markdown-title">{title}</h1>
    <div id="markdown-description">
      <dl>
        {
          updatedAtDelta !== publishedAtDelta && (
            <>
              <dt>Last Updated</dt>
              <dd>
                <Tooltip
                  text={updatedAtDelta}
                  tooltipText={updatedAtDate.toISOString()}
                />
              </dd>
            </>
          )
        }
        <dt>Published</dt>
        <dd>
          <Tooltip
            text={publishedAtDelta}
            tooltipText={publishedAtDate.toISOString()}
          />
        </dd>
      </dl>
    </div>
    <slot />
  </div>
  <details>
    <summary><code>frontmatter</code></summary>
    <code>
      <pre>{JSON.stringify(frontmatter, undefined, 2)}</pre>
    </code>
  </details>
  <style>
    h1 {
      color: var(--emph-color);
      font-size: 2.3em;
    }
    #markdown-title {
      margin: 1rem 0 0 0;
      align-self: flex-start;
    }
    #markdown-description {
      margin: 0;
      align-self: flex-start;
    }
    #markdown-description > dl {
      margin: 0;
    }
    #markdown-wrapper {
      margin: 1em;
      align-items: flex-start;
      max-width: 100vw;
    }
  </style>
  <style is:global>
    pre {
      max-width: 800px;
    }
  </style>
</BaseLayout>
